.flex {
  display: flex;
}
.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.box {
  width: 15vw;
  height: 15vw;
  z-index: 10;
  border-radius: 100%;
  background-color: white;
}
.text {
  z-index: 11;
  font-family: Arial;
  font-size: 4vw;
  text-align: center;
}
.game {
  position: absolute;
  top: 10%;
  width: 5vw;
  height: 5vw;
  font-size: 1vw;
  padding: 0;
  margin: 0;
  background-color: #bfbfbf;
  border: 0;
  border-radius: 100%;
  transition: 0.2s ease;
}
.game:hover {
  background-color: #dedede;
}
#modal_info {
  z-index: 12;
  background-color: #bfbfbf;
  padding-right: 1vw;
  padding-left: 1vw;
  font-size: 2vw;
  display: none;
}
#game_over {
  z-index: 13;
  height: 100vh;
  width: 100vw;
  background-color: #bfbfbf;
  display: none;
}
#turn_div {
  font-size: 1vw;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -20%);
  display: flex;
}
.turn {
  height: 2vw;
  width: 2vw;
  border-radius: 100%;
  border: 0.1vw solid black;
}
#croix {
  width: 1.2vw;
  height: 1.2vw;
  font-size: 1vw;
  padding: 0;
  margin: 0;
  background-color: #bfbfbf;
  border: 0;
  margin-left: 50vw;
}
#croix:hover {
  background-color: #dedede;
}
#regles {
  text-align: justify;
}
#start {
  left: 40%;
  transform: translate(-40%, -10%);
}
#restart {
  right: 40%;
  transform: translate(40%, -10%);
}
#restart_over {
  position: absolute;
  left: 50%;
  top: 60%;
  width: 5vw;
  height: 5vw;
  font-size: 1vw;
  padding: 0;
  margin: 0;
  background-color: #dedede;
  border: 0;
  border-radius: 100%;
  transform: translate(-50%, -60%);
  margin-top: 5vw;
}
#game_over_round {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -55%);
}
#info {
  right: 10%;
  transform: (10%, -10%);
}
.button {
  width: 10vw;
  height: 10vw;
}
#button_0 {
  background-color: red;
  border-radius: 10vw 0 0 0;
}
#button_1 {
  background-color: blue;
  border-radius: 0 10vw 0 0;
}
#button_2 {
  background-color: green;
  border-radius: 0 0 0 10vw;
}
#button_3 {
  background-color: yellow;
  border-radius: 0 0 10vw 0;
}
